/**
 * @license
 * MyFonts Webfont Build ID 2808098, 2014-05-08T05:15:03-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Museo Sans Cyrl 500 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo-sans-cyrillic/500/
 * Copyright: Copyright (c) 2012 by Jos Buivenga. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2808098
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2ad922");

  
@font-face {font-family: 'MuseoSansCyrl-500';src: url('webfonts/2AD922_0_0.eot');src: url('webfonts/2AD922_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2AD922_0_0.woff') format('woff'),url('webfonts/2AD922_0_0.ttf') format('truetype');}
 